.round3 {
border: 1px solid red;
  border-radius: 12px;
}

.center {
	text-align: center;
}

h1 {
	color: mediumvioletred;
}

P {
	color: black; text-align: center;
}

h2 {
	color: midnightblue; 
}










	
	